
.footer {
  position: sticky;
bottom: 0;
width: 100%;
height: 60px;
line-height: 60px;
}
.mynav {
  border: 3px solid grey;
}

.myRow {
border: 3px solid magenta;
}

.myMenu {
  border: 3px solid purple;

}
.myMenuItem {
  border: 3px solid yellow;
}


.scroll {
  overflow: scroll;
}
